<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.muapp.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".Application.MuappApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/facebook_account_key_token" />

        <activity
            android:name=".UI.Activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity"
            android:theme="@style/AppLoginTheme"
            tools:replace="android:theme" />
        <activity
            android:name=".UI.Activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.ConfirmUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.ErrorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.ConfirmUserGenderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.ManGateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.ProfileSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.FacebookAlbumsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.ManGateInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.FacebookPhotosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.FacebookPhotoDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.ChatActivity"
            android:label="@string/title_activity_chat"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Activity.AddSpotifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.AddSpotifyDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.AddPhotosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.Activity.AddPhotosDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.AddGiphyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.AddGiphyDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.AddYoutubeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.AddYoutubeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.AddQuoteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.AddVoiceNoteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Activity.YoutubeViewActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
    </application>

</manifest>